<section class="apps-screenshot-area bg-color1 p-t-130 p-b-100" id="app">
            <div class="container">
               <div class="apps-screenshot-wrapper">
                  <div class="row">
                     <div class="col-md-7">
                        <div class="swiper-container">
                           <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/onboard_wings.png" alt="Profile wings" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/profile_mobile_wings.png" alt="Map" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/search_mobile.png" alt="Search" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/map_mobile.png" alt="Map" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/onboard_intro.png" alt="Profile intro" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/onboard_skills.png" alt="Profile skills" /></div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <div class="screenshot-content m-l-30">
                           <div class="section-title m-b-20" data-aos="fade-up">
                              <h2 class="big-font2">Une app évidente</h2>
                              <p>Avec Wingzy, vos collaborateurs reconnaisent et partagent leurs compétences en 3 étapes&nbsp;:</p>
                           </div>
                           <ul class="screenshot-list m-b-30 list-inline">
                              <li class="weight-medium">proposer son aide,</li>
                              <li class="weight-medium">trouver de l'aide,</li>
                              <li class="weight-medium">remercier pour l'aide.</li>
                           </ul>
                          <div class="section-title m-b-40" data-aos="fade-up">
                              <p>Impossible de faire plus simple.</p>
                          </div>
                           <ul class="banner-ads-btn m-0 list-inline">
                               <li class="list-inline-item"><a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger"><img src="{{site.baseurl}}/assets/icons/calendar.png" alt="démo" /><span>Demander une démo</span></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
</section>
