<section class="apps-screenshot-area bg-color1 p-t-130 p-b-100" id="app">
            <div class="container">
               <div class="apps-screenshot-wrapper">
                  <div class="row">
                    <div class="col-md-6">
                       <div class="screenshot-content m-l-30">
                          <div class="section-title m-b-20" data-aos="fade-up">
                             <h2 class="big-font2">Solution</h2>
                             <p>Wingzy is a Questions & Answers engine powered by AI</p>
                          </div>
                          <ul class="screenshot-list m-b-30 list-inline" data-aos="fade-up">
                              <li class="weight-medium">Users ask questions</li>
                              <li class="weight-medium">
                                The AI finds the right answers, or<br/>
                                the AI finds the right colleagues to answer.
                              </li>
                              <li class="weight-medium">Their answers enrich the knowledge base</li>
                          </ul>
                          <ul class="banner-ads-btn m-0 list-inline">
                              <li class="list-inline-item"><a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger"><img src="{{site.baseurl}}/assets/icons/calendar.png" alt="démo" /><span>Book your demo</span></a></li>
                          </ul>
                       </div>
                    </div>
                     <div class="col-md-6">
                        <div class="swiper-container">
                           <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/search_mobile.png" alt="Search" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/map_mobile.png" alt="Map" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/profile_mobile_wings.png" alt="Profile" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/onboard_skills.png" alt="Skills" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/questions.png" alt="Questions" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/thank.png" alt="Thank you" /></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
</section>
