<section class="apps-screenshot-area bg-color1 p-t-130 p-b-100" id="app">
            <div class="container">
               <div class="apps-screenshot-wrapper">
                  <div class="row">
                    <div class="col-md-5">
                       <div class="screenshot-content m-l-30">
                          <div class="section-title m-b-20" data-aos="fade-up">
                             <h2 class="big-font2">L'app</h2>
                             <p>Avec Wingzy, les collaborateurs avancent et grandissent plus vite&nbsp;:</p>
                          </div>
                          <ul class="screenshot-list m-b-30 list-inline" data-aos="fade-up">
                              <li class="weight-medium">Je révèle mes compétences</li>
                              <li class="weight-medium">Je pose mes questions</li>
                              <li class="weight-medium">L'IA trouve les bonnes réponses, ou</li>
                              <li class="weight-medium">L'IA trouve mes collègues compétents pour répondre</li>
                              <li class="weight-medium">Je remercie mes collègues pour leur aide</li>
                          </ul>
                         <div class="section-title m-b-40" data-aos="fade-up">
                             <p>Impossible de faire plus simple.</p>
                         </div>
                          <ul class="banner-ads-btn m-0 list-inline">
                              <li class="list-inline-item"><a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger"><img src="{{site.baseurl}}/assets/icons/calendar.png" alt="démo" /><span>Réserver une démo</span></a></li>
                          </ul>
                       </div>
                    </div>
                     <div class="col-md-7">
                        <div class="swiper-container">
                           <div class="swiper-wrapper">
                              <!-- Slides -->
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/search_mobile.png" alt="Search" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/map_mobile.png" alt="Map" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/profile_mobile_wings.png" alt="Profile" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/onboard_skills.png" alt="Skills" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/questions.png" alt="Questions" /></div>
                              <div class="swiper-slide"><img src="{{site.baseurl}}/assets/screenshots/thank.png" alt="Thank you" /></div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
</section>
