<!-- ==================== Start Newsletter Area  ========================= -->
<!-- <section class="contact-area d-flex align-content-stretch themeix-highlight">
<form class="contact-form wow fadeIn" data-wow-duration="1s" action="#">
    <div class="form-row">
        <div class="col-md-12">
            <h5 class="heading-5">Send Your Message</h5>
            <script src="https://desk.zoho.com/portal/api/feedbackwidget/214703000001372015?orgId=652931404&displayType=embeded"></script>
            <div id="zsfeedbackwidgetdiv"></div>
        </div>
    </div>
</form>
</section> -->
<section class="newsletter-area bg-color1 p-b-130" id="contact">
<div class="container">
    <div class="newsletter-wrapper">
        <div class="row">
            <div class="col-md-6">
            <div class="section-title m-b-60">
                <h2 class="big-font2">Nous contacter</h2>
                <p>On s'appelle ? On vous prépare une démo ? Utiliser le formulaire ou écrivez à <a href="mailto:contact@wingzy.com">contact@wingzy.com</a></p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="testimonial-thumbs list-inline">
                    {% for teammate in site.data.teammates %}
                    <li class="author-img owl-thumb-item"><a href="{{teammate.link}}" target="_blank"><img src="{{teammate.face}}" alt="{{teammate.name}}" title="{{teammate.name}}"/></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-7  offset-md-1">
                <div class="newsletter-form" data-aos="fade-up-left">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                    <script>
                      hbspt.forms.create({
                    	portalId: "4894133",
                    	formId: "e8124caa-4549-4a79-bfdb-990818d15aa1"
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Newsletter Area  ========================= -->
