<section class="newsletter-area bg-color1 p-b-130" id="contact">
<div class="container">
    <div class="newsletter-wrapper">
        <div class="row">
            <div class="col-md-6">
              <div class="section-title m-b-60">
                  <h2 class="big-font2">Contact us</h2>
                  <p>Use this form to book a demo or contact us through <a href="mailto:contact@wingzy.com">contact@wingzy.com</a>.</p>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul class="testimonial-thumbs list-inline">
                    {% for teammate in site.data.teammates %}
                    <li class="author-img owl-thumb-item"><a href="{{teammate.link}}" target="_blank"><img src="{{teammate.face}}" alt="{{teammate.name}}" title="{{teammate.name}}"/></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-7  offset-md-1">
                <div class="newsletter-form" data-aos="fade-up-left">
                    <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                    <script>
                      hbspt.forms.create({
                    	portalId: "4894133",
                    	formId: "e8124caa-4549-4a79-bfdb-990818d15aa1"
                    });
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Newsletter Area  ========================= -->
