<section class="service-area bg-color1 p-t-130 p-b-100" id="features">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-7">
                    <div class="section-title m-b-70" data-aos="fade-up">
                        <h2 class="big-font2">Des fonctionnalités puissantes</h2>
                        <p>Wingzy est une app simple et rapide, mais cela ne nous empèche pas de mettre au service de votre entreprise le meilleur de l'intelligence artificielle et de l'expérience utilisateur. Bien au contraire&nbsp;!</p>
                    </div>
                </div>
            </div>
            <div class="row">
              {% for feature in site.data.features %}
                <div class="col-md-4">
                <div class="service-box" data-aos="fade-up">
                    <div class="service-logo"><img src="{{feature.image}}" alt="{{feature.title}}" /></div>
                    <div class="service-content">
                        <h4 class="heading-4">{{feature.title}}</h4>
                        <p>{{feature.description}}</p>
                    </div>
                </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
</section>
