<footer class="footer-area bg-color2">
    <div class="container">
        <div class="footer-widget-wrraper p-b-100">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <a href="{{site.url}}" class="footer-logo"><img src="{{site.logo}}" alt="{{site.title}}" /></a>
                    <div class="footer-widget">
                        <p>ask for the moon</p>
                        <ul class="social-link list-inline">
                            <li class="list-inline-item"><a href="https://www.linkedin.com/company/wingzy/"><i class="fab fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.twitter.com/wingzy_com/"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.facebook.com/wingzy.io/"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/wingzy/"><i class="fab fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Contact</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li>Wingzy SAS</li>
                            <li>8 rue du faubourg poissonnière</li>
                            <li>75010 Paris</li>
                            <li><a href="mailto:contact@wingzy.com">contact@wingzy.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Menu</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="https://wingzy.com/">Home</a></li>
                            <li><a href="https://app.wingzy.com/">Sign in</a></li>
                            <li><a href="https://wingzy.com/fr/terms">Terms</a></li>
                            <li><a href="https://wingzy.com/fr/protectingYourData">Privacy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer-widget">
                        <div class="widget-title">
                            <h5 class="heading-5">Join us</h5>
                        </div>
                        <ul class="widget-list list-inline">
                            <li><a href="https://www.jobteaser.com/fr/companies/wingzy">Who are we?</a></li>
                            <li><a href="https://www.jobteaser.com/fr/companies/wingzy/job-offers">Jobs</a></li>
                            <li><a href="mailto:jobs@wingzy.com">Spontaneous?</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-wrapper text-center">
            <p>© {{ 'now' | date: "%Y" }} Wingzy SAS · ‌au‌ ‌capital‌ ‌de‌ 61114€‌ ‌·‌ ‌‌SIREN‌‌ ‌840‌ ‌592‌ ‌455‌ ‌·‌ ‌RCS‌ ‌Paris</p>
        </div>
        <a href="#" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
    </div>
</footer>
