<!-- ==================== Start Price Plan Area  ========================= -->
<section class="price-plan-area p-t-130 p-b-100" id="pricing">
<div class="container">
    <div class="price-plan-wrapper">
        <div class="row">
            <div class="col-md-4">
            <div class="price-plan-title">
                <h2 class="big-font2">Les tarifs</h2>
                <p>Wingzy est disponible par abonnement mensuel ou annuel. Vous ne payez que pour les collaborateurs ayant créé leur profil sur l'app !</p>
            </div>
            </div>
            <div class="col-md-4">
            <div class="price-plan-box m-t-80" data-aos="fade-up">
                <div class="price-title text-center d-flex align-items-center">
                    <div class="price-curency">
                        <p>2<sup>€</sup></p>
                    </div>
                    <div class="price-package d-flex align-items-center justify-content-center">
                        <p>par personne<br/>par mois</p>
                    </div>
                </div>
                <div class="price-content text-center">
                    <h3>Wingzy Base</h3>
                    <p>L'essentiel pour rapprocher et accélérer les collaborateurs.</p>
                    <ul class="price-list list-inline">
                        <li>App Wingzy</li>
                        <li>Compétences clés-en-main</li>
                        <li>Tableau de bord</li>
                        <li>Support email</li>
                    </ul>
                    <a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger">Réserver une démo</a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="price-plan-box" data-aos="fade-up">
                <div class="price-title text-center">
                    <div class="price-curency">
                        <p>6<sup>€</sup></p>
                    </div>
                    <div class="price-package d-flex align-items-center justify-content-center">
                        <p>par personne<br/>par mois</p>
                    </div>
                </div>
                <div class="price-content text-center">
                    <h3>Wingzy Pro</h3>
                    <p>L'outil collaboratif dont vous avez toujours rêvé.</p>
                    <ul class="price-list list-inline">
                        <li>App marque blanche</li>
                        <li>Compétences sur-mesure</li>
                        <li>Import/Export/Intégrations</li>
                        <li>Support projet dédié</li>
                    </ul>
                    <a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger">Réserver une démo</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Price Plan Area  ========================= -->
