<!-- ==================== Start Price Plan Area  ========================= -->
<section class="price-plan-area p-t-130 p-b-100" id="pricing">
<div class="container">
    <div class="price-plan-wrapper">
        <div class="row">
            <div class="col-md-4">
            <div class="price-plan-title">
                <h2 class="big-font2">Pricing</h2>
                <p>Pay per active users, monthly or yearly.</p>
            </div>
            </div>
            <div class="col-md-4">
            <div class="price-plan-box m-t-80" data-aos="fade-up">
                <div class="price-title text-center d-flex align-items-center">
                    <div class="price-curency">
                        <p>4<sup>€</sup></p>
                    </div>
                    <div class="price-package d-flex align-items-center justify-content-center">
                        <p>per user<br/>per month<br/>paid yearly</p>
                    </div>
                </div>
                <div class="price-content text-center">
                    <h3>Wingzy Base</h3>
                    <p>The essential to bring people and answers together</p>
                    <ul class="price-list list-inline">
                        <li>Desktop & mobile app</li>
                        <li>Generic skill ontology</li>
                        <li>Dashboard</li>
                        <li>Email support</li>
                    </ul>
                    <a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger">Book your demo</a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="price-plan-box" data-aos="fade-up">
                <div class="price-title text-center">
                    <div class="price-curency">
                        <p>8<sup>€</sup></p>
                    </div>
                    <div class="price-package d-flex align-items-center justify-content-center">
                        <p>per user<br/>per month<br/>paid yearly</p>
                    </div>
                </div>
                <div class="price-content text-center">
                    <h3>Wingzy Pro</h3>
                    <p>Custom made to fit your business needs</p>
                    <ul class="price-list list-inline">
                        <li>White label app</li>
                        <li>Custom skill ontology</li>
                        <li>Import/Export/Integrations</li>
                        <li>Dedicated Customer Support</li>
                    </ul>
                    <a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger">Book your demo</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Price Plan Area  ========================= -->
