<!-- ==================== Start Price Plan Area  ========================= -->
<section class="price-plan-area bg-image2 p-t-130 p-b-100" id="pricing">
<div class="container">
    <div class="price-plan-wrapper">
        <div class="row">
            <div class="col-md-4">
            <div class="price-plan-title">
                <h2 class="big-font2">Nos tarifs</h2>
                <p>Wingzy est un SaaS facturé par abonnement mensuel ou annuel. Vous ne payez que pour les collaborateurs ayant créé leur profil sur l'app !</p>
            </div>
            </div>
            <div class="col-md-4">
            <div class="price-plan-box" data-aos="fade-up">
                <div class="price-title text-center d-flex align-items-center">
                    <div class="price-curency">
                        <p>2<sup>€</sup></p>
                    </div>
                    <div class="price-package d-flex align-items-center justify-content-center">
                        <p>par personne<br/>par mois</p>
                    </div>
                </div>
                <div class="price-content text-center">
                    <h3 class="m-b-40">Wingzy base</h3>
                    <ul class="price-list list-inline">
                        <li>Compétences illimitées</li>
                        <li>Recherches illimitées</li>
                        <li>Dashboard & exports</li>
                        <li>Support email & chat</li>
                    </ul>
                    <a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger">Demander une démo</a>
                </div>
            </div>
            </div>
            <div class="col-md-4">
            <div class="price-plan-box m-t-80" data-aos="fade-up">
                <div class="price-title text-center">
                    <div class="price-curency">
                        <p>6<sup>€</sup></p>
                    </div>
                    <div class="price-package d-flex align-items-center justify-content-center">
                        <p>par personne<br/>par mois</p>
                    </div>
                </div>
                <div class="price-content text-center">
                    <h3 class="m-b-40">Wingzy Pro</h3>
                    <ul class="price-list list-inline">
                        <li>Marque blanche</li>
                        <li>Profils sur-mesure</li>
                        <li>Import & intégrations</li>
                        <li>Responsable projet dédié</li>
                    </ul>
                    <a href="#contact" class="ads-btn2 btn btn-primary js-scroll-trigger">Demander une démo</a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Price Plan Area  ========================= -->
