<section class="service-area bg-color1 p-t-130 p-b-100">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
              {% for service in site.data.services %}
                <div class="col-md-4">
                <div class="service-box" data-aos="fade-up">
                    <div class="service-logo"><img src="{{service.image}}" alt="{{service.title}}" /></div>
                    <div class="service-content">
                        <h4 class="heading-4">{{service.title}}</h4>
                        <p>{{service.description}}</p>
                        <div class="service-line line-color1"></div>
                    </div>
                </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
</section>
