<section class="service-area bg-color1 p-t-130 p-b-100">
    <div class="container">
        <div class="service-wrapper">
            <div class="row">
                <div class="col-md-7">
                <div class="section-title m-b-70" data-aos="fade-up">
                    <h2 class="big-font2">Des technologies puissante</h2>
                    <p>Wingzy est simple et accessible à tous, mais c'est une app de poine construite par une équipe de développeurs experts.</p>
                </div>
                </div>
            </div>
            <div class="row">
              {% for service in site.data.services %}
                <div class="col-md-4">
                <div class="service-box" data-aos="fade-up">
                    <div class="service-logo"><img src="{{service.image}}" alt="{{service.title}}" /></div>
                    <div class="service-content">
                        <h4 class="heading-4">{{service.title}}</h4>
                        <p>{{service.description}}</p>
                    </div>
                </div>
                </div>
               {% endfor %}
            </div>
        </div>
    </div>
</section>
