<!-- ==================== Start Testimonial Area  ========================= -->
<section class="testimonial-area bg-color1 p-b-130" id="testimonials">
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="testimonial-thumbs owl-thumbs list-inline" data-slider-id="1">
                {% for testimonial in site.data.testimonials %}
                <li class="author-img owl-thumb-item"><img src="{{testimonial.face}}" alt="author image" /></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-7 offset-md-1">
            <div class="testimonial-slider owl-carousel" data-slider-id="1">
                {% for testimonial in site.data.testimonials %}
                <div class="item">
                    <div class="author-content">
                        <div class="author-desc">
                            <h2 class="big-font2">{{testimonial.title}}</h2>
                            <p>{{testimonial.quote}}</p>
                        </div>
                        <div class="author-name">
                            <h5><a href="{{testimonial.link}}">{{testimonial.name}}</a><span>{{testimonial.role}}</span></h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Testimonial Area  ========================= -->
