<!-- ==================== Start Testimonial Area  ========================= -->
<section class="testimonial-area bg-color1 p-t-100 p-b-130" id="testimonials">
<div class="container">
    <div class="row">
        <div class="col-md-7">
        <div class="section-title m-b-70" data-aos="fade-up">
            <h2 class="big-font2">Customers</h2>
            <p>We are proud of our customers & users feedbacks.</p>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="testimonial-thumbs owl-thumbs list-inline" data-slider-id="1">
                {% for testimonial in site.data.testimonials %}
                <li class="author-img owl-thumb-item"><img src="{{testimonial.face}}" alt="{{testimonial.name}}" title="{{testimonial.name}}"/></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-7 offset-md-1">
            <div class="testimonial-slider owl-carousel" data-slider-id="1">
                {% for testimonial in site.data.testimonials %}
                <div class="item">
                    <div class="author-content">
                        <div class="author-desc">
                            {% if testimonial.logo %}
                            <img class="author-logo" src="{{testimonial.logo}}" alt="{{testimonial.title}}" title="{{testimonial.title}}"/>
                            {% else %}
                            <h2 class="big-font2">{{testimonial.title}}</h2>
                            {% endif %}
                            <p>{{testimonial.quote}}</p>
                        </div>
                        <div class="author-name">
                            <h5><a href="{{testimonial.link}}">{{testimonial.name}}</a><span>{{testimonial.role}}</span></h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</section>
<!-- ==================== End Testimonial Area  ========================= -->
