
<section class="feature-area bg-color1 p-b-130" id="why">
<div class="container">
    <div class="feature-wrapper">
        <div class="row">
            <div class="col-md-7">
            <div class="section-title m-b-70" data-aos="fade-up">
                <h2 class="big-font2">L'idée</h2>
                <p>Wingzy est un outil te terrain qui accélère votre entreprise en actionnant les compétences de vos collaborateurs. Pour cela, nous avons construit une app pour que chacun puisse proposer son aide, ose chercher de l'aide et sache trouver de l'aide à travers votre organisation. Wingzy se déploie organiquement dans votre département, votre communauté métier, votre entreprise ou même tout votre groupe...</p>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
            <div class="row">
              {% for reason in site.data.reasons %}
                <div class="col-md-6">
                    <div class="feature-box" data-aos="fade-right">
                        <div class="feature-logo"><img src="{{reason.image}}" alt="{{reason.title}}"/></div>
                        <div class="feature-content">
                            <h4 class="heading-4">{{reason.title}}</h4>
                            <p>{{reason.description}}</p>
                        </div>
                        <div class="feature-shape"></div>
                    </div>
                </div>
               {% endfor %}
            </div>
            </div>
            <div class="col-md-3  offset-lg-1">
            <div class="feature-img">
                <img class="image-mockup" src="{{site.baseurl}}/assets/images/feature-img.png" alt="feature image" />
            </div>
            </div>
        </div>
    </div>
</div>
</section>
