<!DOCTYPE HTML>
<html lang="en">
  <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134551942-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-134551942-2');
      </script>
      <!-- Google Tag Manager -->
      <script>(function (w, d, s, l, i) {
          w[l] = w[l] || []; w[l].push({
            'gtm.start':
              new Date().getTime(), event: 'gtm.js'
          }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WZW2KFM');</script>
      <!-- End Google Tag Manager -->
      <!-- Start of HubSpot Embed Code -->
      <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4894133.js"></script>
      <!-- End of HubSpot Embed Code -->
      <!-- meta -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
      <meta name="keywords" content="{% if page.keywords %}{{ page.keywords}}{% else %}{{ site.keywords }}{% endif %}">
      <meta name="author" content="Wingzy SAS">
      <!-- Facebook Open Graph -->
      <meta content="{{ site.title }}" property="og:site_name">
      <meta property="og:locale" content="fr" />
      {% if page.title %}<meta property="og:title" content="{{ page.title }}">{% else %}<meta property="og:title" content="{{ site.title }}">{% endif %}
      {% if page.title %}<meta property="og:type" content="article">{% else %}<meta property="og:type" content="website">{% endif %}
      {% if page.description %}<meta property="og:description" content="{{ page.description }}">{% else %}<meta property="og:description" content="{{ site.description }}">{% endif %}
      {% if page.url %}<meta property="og:url" content="{{ site.url }}{{ page.url }}">{% endif %}
      {% if page.post_image %}<meta property="og:image" content="{{ page.post_image }}">{% else %}<meta property="og:image" content="{{ site.cover_image }}">{% endif %}
      {% if page.tag %}{% for tag in page.tag %}<meta property="article:tag" content="{{ tag }}">{% endfor %}{% endif %}
      {% if page.categories %}{% for category in page.categories limit:1 %}<meta property="article:section" content="{{ category }}">{% endfor %}{% endif %}
      {% if page.date %}<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">{% endif %}
      <!-- Twitter cards -->
      <meta name="twitter:site" content="@{{ site.twitter_username }}">
      {% if page.title %}<meta name="twitter:title"   content="{{ page.title }}">{% else %}<meta name="twitter:title"   content="{{ site.title }}">{% endif %}
      {% if page.description %}<meta name="twitter:description" content="{{ page.description }}">{% else %}<meta name="twitter:description" content="{{ site.description }}">{% endif %}
      {% if page.post_image %}<meta name="twitter:card"  content="summary_large_image"><meta name="twitter:image" content="{{ site.url }}{{ page.post_image }}">{% else %}<meta name="twitter:card"  content="summary"><meta name="twitter:image" content="{{ site.cover_image }}">{% endif %}
      <!-- Site Title -->
      <title>{% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}</title>
      <!--  Add Favicon -->
      <link rel="shortcut icon" href="{{site.baseurl}}/assets/images/favicon.ico" type="image/x-icon"/>
      <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/images/wingzy_icon.png" />
  	<!-- gulp:css -->
      <link rel="stylesheet" href="{{site.baseurl}}/assets/css/app.min.css">
  	<!-- endgulp -->
      {% feed_meta %}
  </head>
  <body>
      <main class="main-area">
        {% include header.html%}

        {{content}}

        {% include footer.html %}
      </main>
    <!-- gulp:js -->
    <script src="{{site.baseurl}}/assets/js/build.min.js"></script>
	  <!-- endgulp -->

    <script type="text/javascript"> _linkedin_partner_id = "2134370"; window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id); </script><script type="text/javascript"> (function(){var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script"); b.type = "text/javascript";b.async = true; b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);})(); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://px.ads.linkedin.com/collect/?pid=2134370&fmt=gif" /> </noscript>

  </body>
</html>
